[Unit]
Description=Bluetooth Interface Monitor
After=rtk_bluetooth.service
Requires=rtk_bluetooth.service

[Service]
ExecStart=/usr/local/bin/fcs940r_bt_monitor.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bt-monitor

[Install]
WantedBy=multi-user.target